/* Шрифт для блока Глава */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

body {
  background: -webkit-linear-gradient(
    180deg,
    rgb(211, 228, 224),
    rgb(196, 231, 184),
    rgb(198, 207, 143)
  );
  background: -moz-linear-gradient(
    180deg,
    rgb(211, 228, 224),
    rgb(196, 231, 184),
    rgb(198, 207, 143)
  );
  background: linear-gradient(
    180deg,
    rgb(211, 228, 224),
    rgb(196, 231, 184),
    rgb(198, 207, 143)
  );
  background-attachment: fixed;
  background-image: url(Изображения/top-menu-background.jpg);
}
.top-menu {
  display: flex;
  padding-top: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  justify-content: flex-start;
  /* Если не грузится картинка фона, устанавливается цвет фона */
  background-color: #e9a2a2;
}
.social-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25%;
  background-color: inherit;
}

.social-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: inherit;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
}

.social-img {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: inherit;
}
.social-img:hover {
  filter: blur(3px);
}
.chapter-wrapper-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  background-color: #e9a2a2;
}
.chapter-naming-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ff0000;
  width: 30%;
  height: 50px;
  border-bottom: 5px solid rgb(0, 0, 0);
}
.chapter-naming-1 > section {
}

.chapter-naming-1 > section > p {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 35px;
}
.penta-wrapper {
  display: inherit;
  background-color: #be2323;
}
.penta {
  width: 50px;
  height: 50px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.chapter-subnaming-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: inherit;
  width: 20%;
  height: 40px;
  border-bottom: 3px solid rgb(0, 0, 0);
  background-color: #ff0000;
}

.chapter-subnaming-1 > h3 {
}
.buttonscontainer {
  display: flex;
  margin-top: 0;
  background-color: rgb(189, 180, 171);
}
.buttons {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: inherit;
  height: auto;
  width: auto;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
}
.buttons:hover {
  color: rgb(79, 75, 75);
  border-bottom: 2px solid red;
}

/* Стили для формы обратной связи */
.form-wrapper {
  background-color: #a05454;
}
.form {
  max-width: 550px;
  margin: 0px auto;
  color: rgb(255, 255, 255);
  padding: 30px 0;
}
.form-body {
}
.form-title {
  margin: 0px 0px 40px 0px
}
.form-item {
  margin: 0px 0px 30px 0px;
}
.form-label { font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form-input {height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
}
textarea.form-input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.options { padding: 10px 0 0 0;
}
.options-item {margin: 0 0 10px 0;
}
.options-input { display: none;
}
.options-input:checked +.options-label::after {
  transform: scale(1);
}
.options-label { font-size: 16px;
  display: inline-flex;
  position: relative;
  line-height: 140%;
  align-items: center;
}
.options-label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  margin: 0 10px 0 0 ;
  background-color: white;
  border-radius: 50%;
}
.options-label::after {
  transition: transform 0,3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0);

}
.select {
}
.file {
}
.file-item {
}
.file-input {
}
.file-button {
}
.file-preview {
}
.checkbox {
}
.checkbox-input {
}
.checkbox-label {
}
.form-button {
}

.anchor {
  text-align: center;
}

.quotecontainer {
  margin-top: 32rem;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid rgb(255, 0, 0);
  border-top: 5px solid;
}
.quotecontainer p {
  font-family: cursive;
  font-size: 15px;
  letter-spacing: 4px;
  color: rgb(19, 18, 18);
}
footer {
  background: rgba(34, 11, 11, 0.558);
}
.down {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-top: 5px solid red;
  border-bottom: 5px solid black;
  padding: 2rem;
}
.down span {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
